<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main>
        <div class="dashboard">
            <h1>User Dashboard</h1>
            <div class="dashboard-menu">
                <!-- Links to different user actions -->
                <a href="/Views/Admin/user_register.html" class="dashboard-link">User Registration</a>
                <a href="/Views/Admin/user_login.html" class="dashboard-link">User Login</a>
                <a href="/Views/Admin/forget_password.html" class="dashboard-link">User Verification</a>
                <a href="/Views/Admin/reset_password.html" class="dashboard-link">Change Password</a>
                <a href="/Views/Admin/user_profile.html" class="dashboard-link">Create Profile</a>
            </div>
        </div>
    </main>
</body>
</html>
